*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

@media( min-width:480px){

    .container{
        width: 100%;
        height: auto;
        text-align: center;

    }
    .content{
        margin-top: 20px;
        text-align: center;
        padding: 10px;
        
    }
     .content h4{
        font-weight: 700;
        color: rgb(43, 13, 72);
    }
    .content h1{
        font-size: 30px;
        padding: 20px;
       letter-spacing: 0.1ch;
        font-weight: 700;
        color: rgb(4, 3, 3);
        text-transform: uppercase;
    }
    .body{
      
        margin: 20px 50px;
        margin-top: -80px;
        min-width: 720px;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }
    .item{
        min-width: 220px;
        align-items: center;
        text-align: center;
        justify-content: center;
        
    }
  
   
    .item button{
        border-radius: 15px;
        border-color: 5px solid rgb(16, 11, 2);
        margin-top: 10px;
        padding: 10px 25px;
        background-color: rgb(44, 31, 6);
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
    .item button:hover{
        
        background-color: rgb(207, 156, 61);
        
    }
    .item h2{
       
        background-color: rgb(58, 176, 28);
        border: 2px solid black;
        border-radius: 15px;
        margin: 40px;
        padding: 15px 15px;
    }
    .item h1{
        
        font-weight: 900;
        padding: 20px 40px;   
    }
    .count{
        font-size: 60px;
        margin-bottom:-10px ;
    }
    .diceCenter {
        margin-top: -50px;
    }
    .diceCenter .reset{
       padding-top: 60px;
    }
    .diceCenter .reset button{
        font-size: 30px;
        font-weight: 600;
        padding: 15px 35px;
        background-color: rgb(140, 10, 58)
    
    }
    .reset button:hover{
        padding: 16px 36px;
        background-color: rgb(25, 5, 38);
        color: aliceblue;
    }
    #who{
        font-size: 40px;
        font-weight: 900;

    }






}
@media( min-width:320px)and(max-width:480){


}


